<template>
  <div class="d-flex">
    <LoaderCircular v-if="loading" />
    <div v-else>
      <radio-group class="mt-0" :value="value" hide-details @change="onChange">
        <v-radio v-if="nullable" :value="null" label="None" :disabled="disabled" />
        <v-radio
          v-for="item in items"
          :key="item.id"
          :value="item"
          :label="item.name"
          :disabled="disabled"
        />
      </radio-group>
      <v-checkbox class="my-2" v-model="sub" hide-details>
        <template v-slot:label>
          <span class="primary--text caption">Show subcategories</span>
        </template>
      </v-checkbox>
    </div>
  </div>
</template>

<script>
import RadioGroup from "./Utils/RadioGroup"
import LoaderCircular from "@/components/LoaderCircular"

export default {
  name: "CategoryPicker",

  components: {
    RadioGroup,
    LoaderCircular,
  },

  props: {
    value: { type: Object, default: () => null },
    disabled: { type: Boolean, default: false },
    nullable: { type: Boolean, default: false },
  },

  data() {
    return {
      loading: true,
      sub: false,
      options: [],
    }
  },

  computed: {
    items() {
      return this.sub ? this.options : this.options.filter(item => !item.parent_id)
    },
  },

  created() {
    this.$http
      .get("categories")
      .then(res => this.options.push(...res.data.data))
      .finally(() => (this.loading = false))
  },

  methods: {
    onChange(value) {
      this.$emit("input", value)
    },
  },
}
</script>
