<template>
  <v-select
    label="Category"
    :value="value"
    :items="items"
    item-value="id"
    item-text="name"
    @input="value => $emit('input', value || null)"
  />
</template>

<script>
export default {
  name: "CategorySelect",

  props: {
    value: { type: Number, default: null },
    disabled: { type: Boolean, default: false },
  },

  data() {
    return {
      items: [{ id: null, name: "None" }],
    }
  },

  created() {
    this.$http.get("categories").then(res => this.items.push(...res.data.data))
  },
}
</script>
