<template>
  <div>
    <canvas class="canvas" ref="canvas" width="200" height="200"></canvas>
    <input class="file" type="file" ref="file" @change="change" />
    <slot :click="click"></slot>
  </div>
</template>

<script>
const ERROR_FILE_FORMAT = "Wrong file format"
const ERROR_FILE_TOO_LARGE = "File too large, max 10M"
const ERROR_IMAGE_TOO_SMALL = "Image too small"

export default {
  name: "ImageCreate",

  props: {
    width: { type: Number, default: 200 },
    height: { type: Number, default: 200 },
    maxSize: { type: Number, default: 1024 * 1024 * 10 },
  },

  methods: {
    click() {
      this.$emit("click")
      const file = this.$refs["file"]
      file.click()
    },

    change(event) {
      if (!event.target.files.length) return

      const file = event.target.files[0]
      this.loading = true
      this.createImage(file)
        .then(image => this.$emit("change", image))
        .catch(err => this.$emit("error", err))
    },

    createImage(file) {
      return new Promise((resolve, reject) => {
        if (!/^image\/(png|jpe?g|gif)$/.test(file.type)) {
          return reject(ERROR_FILE_FORMAT)
        }

        if (file.size > this.maxSize) {
          return reject(ERROR_FILE_TOO_LARGE)
        }

        const image = new Image()
        image.onload = () => this.onLoad(image, resolve, reject)
        image.src = URL.createObjectURL(file)
      })
    },

    onLoad(image, resolve, reject) {
      const canvasAspectRatio = this.width / this.height
      let width = image.naturalWidth
      let height = image.naturalHeight
      const imageAspectRatio = width / height
      let x = 0
      let y = 0

      if (width < this.width || height < this.height) {
        return reject(ERROR_IMAGE_TOO_SMALL)
      }

      if (imageAspectRatio > canvasAspectRatio) {
        width = height * canvasAspectRatio
        x = (image.naturalWidth - width) / 2
      } else if (imageAspectRatio < canvasAspectRatio) {
        height = width / canvasAspectRatio
        y = (image.naturalHeight - height) / 2
      }

      const canvas = this.$refs["canvas"]
      const ctx = canvas.getContext("2d")
      ctx.drawImage(image, x, y, width, height, 0, 0, this.width, this.height)
      canvas.toBlob(blob => resolve(blob), "image/jpeg", 0.9)
    },
  },
}
</script>

<style scoped>
.file {
  display: none;
}

.canvas {
  display: none;
}
</style>
