<template>
  <div>
    <input class="file" type="file" ref="file" @change="change" />
    <slot :click="click"></slot>
  </div>
</template>

<script>
export default {
  name: "ImageSelect",

  methods: {
    click() {
      this.$emit("click")
      this.$refs["file"].click()
    },

    change(event) {
      if (!event.target.files.length) return

      const image = event.target.files[0]

      if (!/^image\/(png|jpe?g|gif)$/.test(image.type)) {
        return this.handleError(`Неподдерживаемый формат файла: ${image.type}`)
      }

      if (image.size / 1024 / 1024 > 10) {
        return this.handleError(`Файл больше 10MB`)
      }

      this.$emit("change", image)
    },

    handleError(err) {
      this.$emit("error", err)
    },
  },
}
</script>

<style scoped>
.file {
  display: none;
}
</style>
