<template>
  <div class="error--text caption mt-2">
    <div v-for="message in errorMessages" :key="message">{{ message }}</div>
  </div>
</template>

<script>
export default {
  name: "InputErrors",

  props: {
    errorMessages: { type: Array, requuired: true },
  },
}
</script>
