<template>
  <div>
    <div
      class="d-flex justify-space-between align-center"
      v-for="(item, index) in items"
      :key="item.id"
    >
      <slot item="item" :index="index"></slot>

      <v-btn v-if="!disabled" class="ml-1 mr-0" icon color="red" @click="$emit('remove', index)">
        <v-icon>mdi-minus-circle</v-icon>
      </v-btn>
    </div>

    <v-btn v-if="!disabled" class="mt-2" icon color="primary" @click="$emit('append')">
      <v-icon>mdi-plus-circle</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: "ListInput",

  props: {
    items: { type: Array, required: true },
    disabled: { type: Boolean, default: false },
  },
}
</script>
