<template>
  <v-select
    :value="value"
    :items="items"
    item-value="id"
    item-text="description"
    label="Role"
    :disabled="disabled || !isAdmin"
    @input="value => $emit('input', value || null)"
  />
</template>

<script>
import { mapGetters } from "vuex"

export default {
  name: "RoleSelect",

  props: {
    value: { type: Number, default: null },
    disabled: { type: Boolean, default: false },
  },

  data() {
    return {
      items: [{ id: null, description: "None" }],
    }
  },

  computed: {
    ...mapGetters({ isAdmin: "auth/isAdmin" }),
  },

  created() {
    this.$http.get("roles").then(res => this.items.push(...res.data.data))
  },
}
</script>
