<template>
  <v-autocomplete
    v-model="values"
    :search-input.sync="query"
    :items="tags"
    item-text="name"
    item-value="id"
    return-object
    label="Tags"
    multiple
    @keydown="onKeydown"
    @input="onInput"
  >
    <template v-slot:item="{ item }">{{ item.name }}</template>
  </v-autocomplete>
</template>

<script>
export default {
  name: "TagsSelect",

  props: {
    value: { type: Array, required: true },
  },

  data() {
    return {
      tags: [],
      query: "",
    }
  },

  computed: {
    values: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit("input", value)
      },
    },
  },

  created() {
    this.$http.get("tags").then(res => (this.tags = res.data.data))
  },

  methods: {
    onInput() {
      this.query = ""
    },

    async onKeydown(e) {
      if (e.key !== "Enter" || !this.query) return
      e.preventDefault()

      const tag = await this.getTag(this.query)
      this.values = [...this.values, tag]
      this.query = ""
    },

    async getTag(name) {
      return this.tags.find(item => item.name == name) || (await this.createTag({ name }))
    },

    async createTag({ name }) {
      return this.$http
        .post("tags", { name })
        .then(res => {
          this.tags.push(res.data.data)
          return res.data.data
        })
        .catch(err => console.log(err))
    },
  },
}
</script>
