<template>
  <div>
    <v-card-subtitle class="pb-0 title">User Role</v-card-subtitle>
    <v-card-text>
      <div v-for="item in options" :key="item.id">
        <v-checkbox
          class="mt-2"
          v-model="roles"
          :label="item.description"
          :value="item.id"
          hide-details
          multiple
          @change="$emit('input', roles)"
        />
      </div>
    </v-card-text>
  </div>
</template>

<script>
export default {
  props: {
    value: { type: Array, default: () => [] },
  },

  data() {
    return {
      roles: [],
      options: [],
    }
  },

  created() {
    this.$http.get("roles").then(res => (this.options = res.data.data))
  },
}
</script>
