<template>
  <v-card hover>
    <v-card-text class="d-flex align-center">
      <div class="mr-4">
        <Avatar :username="user.name" :src="src" :size="64" />
      </div>
      <div class="flex-grow-1">
        <div>@{{ user.name }}</div>
        <div class="caption">{{ user.email }}</div>
      </div>
      <div>
        <slot>
          <v-btn icon @click="$emit('click')">
            <v-icon color="primary">mdi-dots-horizontal</v-icon>
          </v-btn>
        </slot>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import Avatar from "vue-avatar"

export default {
  name: "UserCard",

  components: { Avatar },

  props: {
    user: { type: Object, required: true },
  },

  computed: {
    src() {
      return this.user.photo ? this.user.photo.preview : null
    },
  },
}
</script>
