<template>
  <v-card>
    <v-card-title class="d-flex align-center">
      <div>Filters</div>
      <v-spacer />
      <v-btn icon color="primary" @click="update">
        <v-icon>mdi-filter</v-icon>
      </v-btn>
      <v-btn icon color="primary" @click="clear">
        <v-icon>mdi-filter-remove-outline</v-icon>
      </v-btn>
    </v-card-title>

    <v-divider />

    <FilterRoles v-model="filters['roles']" />
  </v-card>
</template>

<script>
import FilterRoles from "./Filters/Roles"

export default {
  name: "UserFilters",

  components: { FilterRoles },

  props: {
    value: { type: Object, required: true },
  },

  data() {
    return {
      filters: {},
    }
  },

  watch: {
    value: {
      handler(value) {
        this.filters = { ...value }
      },
      immediate: true,
      deep: true,
    },
  },

  methods: {
    update() {
      this.$emit("input", { ...this.filters })
    },
    clear() {
      this.$emit("input", {})
    },
  },
}
</script>
