<template>
  <ItemForm
    :api-url="API_URL"
    :item="value"
    :item-default="ITEM_DEFAULT"
    #default="{form, errorMessages, clearErrors, loading }"
    @save="value => $emit('input', value)"
  >
    <v-card>
      <v-card-title>
        <h3 class="grey--text">User Info</h3>
        <v-spacer />
        <v-btn
          v-if="!readonly"
          :loading="loading"
          :disabled="disabled"
          type="submit"
          color="primary"
          >Save</v-btn
        >
      </v-card-title>
      <v-divider />
      <v-card-text>
        <v-text-field
          label="Name"
          v-model="form['name']"
          :error-messages="errorMessages['name']"
          :disabled="readonly || disabled || loading"
          @input="clearErrors('name')"
        />
        <v-text-field
          label="Email"
          v-model="form['email']"
          :disabled="value != null"
          :error-messages="errorMessages['email']"
          @input="clearErrors('email')"
        />
        <RoleSelect v-model="form['role_id']" :disabled="readonly || disabled || loading" />
      </v-card-text>
    </v-card>
  </ItemForm>
</template>

<script>
import { API_URL, ITEM_DEFAULT } from "."
import { ItemForm } from "@/components/Item"
import RoleSelect from "@/components/Form/RoleSelect"

export default {
  name: "UserForm",

  components: {
    ItemForm,
    RoleSelect,
  },

  props: {
    value: { type: Object, default: null },
    disabled: { type: Boolean, default: false },
    readonly: { type: Boolean, default: false },
  },

  data() {
    return {
      API_URL,
      ITEM_DEFAULT,
    }
  },
}
</script>
