<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on }">
      <div class="d-flex align-center">
        <v-btn color="primary" icon v-on="on">
          <Avatar :username="user.name" :src="user.photo && user.photo.preview" />
        </v-btn>
        <div class="ml-2">
          <div>{{ user.name }}</div>
          <div class="caption">{{ user.email }}</div>
        </div>
      </div>
    </template>
    <v-list dense>
      <v-list-item :to="`/user/${user.id}`">
        <v-list-item-icon>
          <v-icon>mdi-account</v-icon>
        </v-list-item-icon>
        <v-list-item-title>Profile</v-list-item-title>
      </v-list-item>
      <v-list-item @click="$emit('logout')">
        <v-list-item-icon>
          <v-icon>mdi-exit-to-app</v-icon>
        </v-list-item-icon>
        <v-list-item-title>Logout</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
import Avatar from "vue-avatar"

export default {
  name: "UserMenu",

  components: { Avatar },

  props: {
    user: { type: Object, required: true },
  },
}
</script>
