<template>
  <v-form class="form" @submit.prevent="submit">
    <v-card>
      <v-card-title>
        <h3 class="grey--text">Phones</h3>
        <v-spacer />
        <v-btn
          v-if="!readonly"
          type="submit"
          :loading="loading"
          :disabled="disabled"
          color="primary"
          >Save</v-btn
        >
      </v-card-title>
      <v-divider />
      <v-card-text>
        <ListInput
          :items="phones"
          :disabled="disabled || readonly"
          @append="append"
          @remove="remove"
          #default="{ index }"
        >
          <v-text-field
            label="Number"
            v-model="phones[index]['number']"
            v-mask="`+7 (###) ###-##-##`"
            :disabled="disabled || readonly"
            :error-messages="getErrors(index, 'number')"
            @input="clearErrors(index, 'number')"
          ></v-text-field>
        </ListInput>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<script>
import ListInput from "@/components/Form/ListInput"

const ITEM_DEFAULT = {
  number: "",
}

export default {
  name: "UserPhones",

  components: { ListInput },

  props: {
    value: { type: Array, required: true },
    user: { type: Object, required: true },
    disabled: { type: Boolean, default: false },
    readonly: { type: Boolean, default: false },
  },

  data() {
    return {
      loading: false,
      phones: this.value,
      errorMessages: {},
    }
  },

  computed: {
    apiUrl() {
      return `users/${this.user.id}/phones`
    },
    params() {
      const phones = this.phones.reduce(
        (items, item) => [...items, { ...item, number: this.clean(item.number) }],
        [],
      )
      return { phones }
    },
  },

  methods: {
    append() {
      this.phones.push({ ...ITEM_DEFAULT })
    },
    remove(index) {
      this.phones.splice(index, 1)
    },
    submit() {
      this.loading = true
      this.$http
        .post(this.apiUrl, this.params)
        .then(res => this.$emit("input", res.data.data))
        .catch(err => (this.errorMessages = err.response.data.errors))
        .finally(() => (this.loading = false))
    },
    getErrors(index, field) {
      const keys = Object.keys(this.errorMessages)
      for (const key of keys) {
        const segments = key.split(".")
        if (
          segments.length == 3 &&
          segments[0] == "phones" &&
          segments[1] == index &&
          segments[2] == field
        ) {
          return this.errorMessages[key]
        }
      }
    },
    clearErrors(index, field) {
      const key = `phones.${index}.${field}`
      delete this.errorMessages[key]
    },
    clean(number) {
      return number.replace(/\D/g, "")
    },
  },
}
</script>
