<template>
  <v-container class="post" fluid>
    <h1>Create Post</h1>
    <v-divider />
    <PostForm @input="redirect" />
  </v-container>
</template>

<script>
import { PostForm } from "@/components/Post"

export default {
  name: "PostCreate",

  components: { PostForm },

  methods: {
    redirect() {
      this.$router.push({ name: "PostIndex" })
    },
  },
}
</script>
