<template>
  <div class="post white" v-if="post">
    <PostPhoto :post="post" />

    <v-container>
      <PostForm class="mt-4" v-model="post" #actions>
        <v-btn color="error" @click="destroy">Destroy</v-btn>
      </PostForm>

      <PostPhotos class="mt-4" :post="post" />
    </v-container>
  </div>
</template>

<script>
import { mapMutations } from "vuex"
import { API_URL, PostPhoto, PostForm, PostPhotos } from "@/components/Post"

export default {
  name: "PostEdit",

  components: {
    PostPhoto,
    PostForm,
    PostPhotos,
  },

  props: {
    id: { type: String, required: true },
  },

  data() {
    return {
      post: null,
    }
  },

  created() {
    this.load()
  },

  methods: {
    ...mapMutations(["setLoading"]),
    show() {
      this.$router.push({ name: "PostShow", params: { id: this.id } })
    },
    load() {
      this.setLoading(true)
      this.$http
        .get(`${API_URL}/${this.id}`)
        .then(res => {
          this.post = res.data.data
        })
        .catch(err => {
          console.log(err.response)
        })
        .finally(() => {
          this.setLoading(false)
        })
    },
    destroy() {
      this.isLoading = true
      return this.$http
        .delete(`${API_URL}/${this.id}`)
        .then(() => {
          this.$router.push({ name: "PostIndex" })
        })
        .catch(err => {
          console.log(err.response)
        })
        .finally(() => {
          this.isLoading = false
        })
    },
  },
}
</script>
