<template>
  <v-container class="user" fluid>
    <div class="d-flex align-center">
      <h1>Post Index</h1>
      <v-btn class="ml-4" icon @click="create">
        <v-icon color="primary">mdi-plus</v-icon>
      </v-btn>
    </div>

    <div class="flex-wrapper d-flex">
      <main class="flex-grow-1">
        <ItemList :api-url="API_URL" :filters="filters" #default="{ items }">
          <PostCard class="mt-2" v-for="item in items" :key="item.id" :post="item" #actions>
            <PostFavorite v-if="isAuthenticated" :post="item" />
            <v-btn icon small color="primary" @click="show(item)">
              <v-icon>mdi-eye</v-icon>
            </v-btn>
            <v-btn v-if="canUpdate(item)" icon small color="primary" @click="edit(item)">
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </PostCard>
        </ItemList>
      </main>
      <SidebarPanel>
        <PostFilters v-model="filters" @input="apply" />
        <SelectLoader class="mt-2" v-model="loader" />
      </SidebarPanel>
    </div>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex"
import { API_URL, PostCard, PostFilters, PostFavorite } from "@/components/Post"
import { ItemList } from "@/components/Item"
import SidebarPanel from "@/components/SidebarPanel"
import SelectLoader from "@/components/SelectLoader"

export default {
  name: "PostIndex",

  components: {
    ItemList,
    SidebarPanel,
    PostCard,
    PostFilters,
    SelectLoader,
    PostFavorite,
  },

  props: {
    search: { type: String, default: "" },
    favorite: { type: Boolean, default: false },
    category: { type: String, default: "" },
    tags: { type: Array, default: () => [] },
    orderby: { type: String, default: "" },
  },

  data() {
    return {
      API_URL,
      loader: "infinite",
      filters: {
        search: this.search || undefined,
        favorite: this.favorite || undefined,
        category: this.category || undefined,
        tags: this.tags || undefined,
        orderby: this.orderby || undefined,
      },
    }
  },

  computed: {
    ...mapGetters({
      isAuthenticated: "auth/isAuthenticated",
      isOwner: "auth/isOwner",
      isAdmin: "auth/isAdmin",
    }),
  },

  methods: {
    canUpdate(item) {
      return this.isAdmin || this.isOwner(item.id)
    },
    create() {
      this.$router.push({ name: "PostCreate" })
    },
    show(item) {
      const id = String(item.id)
      this.$router.push({ name: "PostShow", params: { id } })
    },
    edit(item) {
      const id = String(item.id)
      this.$router.push({ name: "PostEdit", params: { id } })
    },
    apply(filters) {
      this.$router.push({ name: "PostIndex", query: filters })
    },
  },
}
</script>
