<template>
  <div class="post" v-if="post">
    <PostPhoto v-if="post.photo" :post="post" disabled />

    <v-container>
      <div class="post-heading d-flex align-center">
        <h1>{{ post.title }}</h1>
        <v-btn class="ml-4" v-if="canUpdate" icon @click="edit">
          <v-icon color="primary">mdi-pencil</v-icon>
        </v-btn>
      </div>

      <div class="post-meta d-flex justify-space-between">
        <div>
          <div class="font-italic">
            <a class="post-author" href="#">{{ post.user && post.user.name }}</a>
            posted
            <span class="post-created-at secondary--text">{{ createdAt }}</span>
          </div>
          <div>
            Category:
            <a href="#">{{ post.category && post.category.name }}</a>
          </div>
          <div>
            Tags:
            <TagsList :tags="post.tags" :url="API_URL" />
          </div>
        </div>
        <PostFavorite v-if="isAuthenticated" :post="post" />
      </div>

      <div class="post-body mt-4 text-justify text--secondary">{{ post.body }}</div>

      <PostPhotos class="mt-4" :post="post" disabled />
    </v-container>
  </div>
</template>

<script>
import moment from "moment"
import { mapGetters, mapMutations } from "vuex"
import { API_URL, PostPhoto, PostPhotos, PostFavorite } from "@/components/Post"
import TagsList from "@/components/TagsList"

export default {
  name: "PostShow",

  components: {
    PostPhoto,
    PostPhotos,
    TagsList,
    PostFavorite,
  },

  props: {
    id: { type: String, required: true },
  },

  data() {
    return {
      API_URL,
      post: null,
    }
  },

  created() {
    this.load()
  },

  computed: {
    ...mapGetters({
      isAuthenticated: "auth/isAuthenticated",
      isOwner: "auth/isOwner",
      isAdmin: "auth/isAdmin",
    }),
    canUpdate() {
      return this.isAdmin || this.isOwner(this.post.user_id)
    },
    createdAt() {
      return moment(this.post.created_at).fromNow()
    },
  },

  methods: {
    ...mapMutations(["setLoading"]),
    edit() {
      this.$router.push({ name: "PostEdit", params: { id: this.id } })
    },
    load() {
      this.setLoading(true)
      this.$http
        .get(`${API_URL}/${this.id}`)
        .then(res => {
          this.post = res.data.data
        })
        .catch(err => {
          console.log(err.response)
        })
        .finally(() => {
          this.setLoading(false)
        })
    },
  },
}
</script>

<style scoped>
.post-image {
  background-size: cover;
  background-position: center;
  height: 0;
  padding-bottom: 25%;
  overflow: hidden;
  margin: -12px;
}
</style>
