<template>
  <tree class="tree ma-4" v-if="!isLoading" :node="root" @reload="load"></tree>
</template>

<script>
import { mapGetters, mapMutations } from "vuex"
import { categories as api } from "@/api"
import Tree from "@/components/Tree/Tree"

export default {
  components: {
    Tree,
  },

  data() {
    return {
      loading: true,
      root: {
        name: "ROOT",
        parent_id: null,
        children: [],
      },
    }
  },

  computed: {
    ...mapGetters(["isLoading"]),
  },

  created() {
    this.load()
  },

  methods: {
    ...mapMutations(["setLoading"]),

    load() {
      this.setLoading(true)
      api
        .tree()
        .then(res => {
          this.root.children = res.data.data
        })
        .finally(() => this.setLoading(false))
    },
  },
}
</script>

<style scoped>
.tree {
  width: 400px;
}
</style>
