<template>
  <v-card-text>
    <CategoryPicker v-model="category" @input="update" nullable />
  </v-card-text>
</template>

<script>
import CategoryPicker from "@/components/Form/CategoryPicker"

export default {
  components: {
    CategoryPicker,
  },

  data() {
    return {
      category: null,
    }
  },

  methods: {
    update(value) {
      this.$emit("input", (value && value.name) || "")
    },
  },
}
</script>
