<template>
  <v-card-text>
    <v-checkbox
      class="mt-0"
      label="Favorite"
      :input-value="value"
      hide-details
      @change="value => $emit('input', value)"
    />
  </v-card-text>
</template>

<script>
export default {
  props: {
    value: { type: Boolean, default: false },
  },
}
</script>
