<template>
  <v-card-text>
    <v-radio-group
      class="my-0"
      :value="value"
      hide-details
      @change="value => $emit('input', value)"
    >
      <v-radio value="created_at" label="Latest" />
      <v-radio value="views_count" label="Popular" />
    </v-radio-group>
  </v-card-text>
</template>

<script>
export default {
  props: {
    value: { type: String, default: "" },
  },
}
</script>
