<template>
  <v-text-field
    label="Search"
    :value="value"
    outlined
    dense
    hide-details
    @input="value => $emit('input', value)"
    @change="value => $emit('change', value)"
  />
</template>

<script>
export default {
  name: "SearchFilters",

  props: {
    value: { type: String, default: "" },
  },
}
</script>
