<template>
  <v-card-text>
    <div v-for="item in options" :key="item.id">
      <v-checkbox class="mt-0 mb-2" v-model="tags" :value="item.name" hide-details @change="update">
        <template #label>
          <span>{{ item.name }}</span>
          <span class="chip orange white--text ml-3 px-1">{{ item.posts_count }}</span>
        </template>
      </v-checkbox>
    </div>
  </v-card-text>
</template>

<script>
export default {
  props: {
    value: { type: Array, default: () => [] },
  },

  data() {
    return {
      options: [],
      tags: [],
    }
  },

  watch: {
    value: {
      handler(value) {
        this.tags = value
      },
      immediate: true,
      deep: true,
    },
  },

  created() {
    this.load()
  },

  methods: {
    load() {
      this.$http.get("tags").then(res => (this.options = res.data.data))
    },
    update() {
      this.$emit("input", this.tags)
    },
  },
}
</script>

<style scoped>
.chip {
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 100;
}
</style>
