<template>
  <v-footer class="justify-center" inset color="#fff">
    <span class="mr-2">&copy; 2019 - {{ new Date().getFullYear() }}</span>
    <a href="https://mwazovzky.github.io/about">Mike Wazovzky</a>
  </v-footer>
</template>
