<template>
  <v-progress-linear :active="isLoading" :indeterminate="isLoading" absolute />
</template>

<script>
import { mapGetters } from "vuex"

export default {
  computed: {
    ...mapGetters(["isLoading"]),
  },
}
</script>
