<template>
  <div class="logo shrink hidden-sm-and-down py-2">
    <v-img class="image" contain src="/img/logo.png" />
    <div class="text ml-1">onster Lab.</div>
  </div>
</template>

<style scoped>
.logo {
  display: flex;
  align-items: center;
}
.image {
  height: 48px;
  width: 48px;
}
.text {
  color: #ffffff;
  font-size: 1.5em;
}
</style>
