<template>
  <v-navigation-drawer app permanent expand-on-hover clipped width="200">
    <v-list class="mt-2 py-0" dense nav>
      <v-list-item to="/posts">
        <v-list-item-icon class="mr-5">
          <v-icon>mdi-text-box-multiple-outline</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Posts</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-list class="py-0" v-if="isAuthenticated" dense nav>
      <v-divider />
      <v-list-item to="/cities">
        <v-list-item-icon class="mr-5">
          <v-icon>mdi-home-city</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Cities</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-list class="py-0" v-if="isAdmin" dense nav>
      <v-divider />
      <v-list-item to="/user">
        <v-list-item-icon class="mr-5">
          <v-icon>mdi-account</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Users</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item to="/categories">
        <v-list-item-icon class="mr-5">
          <v-icon>mdi-file-tree</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Categories</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item to="/tags">
        <v-list-item-icon class="mr-5">
          <v-icon>mdi-label-multiple-outline</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Tags</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from "vuex"

export default {
  computed: {
    ...mapGetters({
      isAdmin: "auth/isAdmin",
      isAuthenticated: "auth/isAuthenticated",
    }),
  },
}
</script>
