<template>
  <v-snackbar v-model="show" :color="snackbar.color" :timeout="snackbar.timeout">
    <div class="flex-grow-1 text-center">
      <div class="d-flex justify-space-between align-center">
        <div>{{ snackbar.text }}</div>
        <v-btn class="button" icon dark @click="show = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
    </div>
  </v-snackbar>
</template>

<script>
import { mapGetters, mapMutations } from "vuex"

export default {
  computed: {
    ...mapGetters({
      snackbar: "snackbar/GET",
    }),
    show: {
      get() {
        return this.snackbar.show
      },
      set(value) {
        this.setSnackbar({ show: value })
      },
    },
  },

  methods: {
    ...mapMutations({
      setSnackbar: "snackbar/SET",
    }),
  },
}
</script>
