<template>
  <v-form @submit.prevent="submit">
    <slot
      :form="form"
      :error-messages="errorMessages"
      :clear-errors="clearErrors"
      :loading="isLoading"
    ></slot>
  </v-form>
</template>

<script>
export default {
  name: "ItemForm",

  props: {
    item: { type: Object, default: null },
    itemDefault: { type: Object, default: () => ({}) },
    apiUrl: { type: String, required: true },
  },

  data() {
    return {
      isLoading: false,
      form: {},
      errorMessages: {},
    }
  },

  computed: {
    save() {
      return this.item ? this.update : this.store
    },
  },

  watch: {
    item: {
      handler(value) {
        this.reset(value)
      },
      immediate: true,
    },
  },

  methods: {
    reset(item) {
      Object.keys(this.itemDefault).forEach(key => {
        this.$set(this.form, key, item ? item[key] : this.itemDefault[key])
      })
    },
    submit() {
      this.isLoading = true
      this.save()
        .then(res => {
          this.$emit("save", res.data.data)
        })
        .catch(err => {
          this.errorMessages = (err.response.data && err.response.data.errors) || {}
        })
        .finally(() => {
          this.isLoading = false
        })
    },
    store() {
      return this.$http.post(this.apiUrl, this.form)
    },
    update() {
      return this.$http.put(`${this.apiUrl}/${this.item.id}`, this.form)
    },
    clearErrors(key) {
      this.errorMessages[key] = null
    },
  },
}
</script>
