<template>
  <div>
    <slot :items="items" :append="append" :update="update" :remove="remove" :destroy="destroy">
      <!-- Render items here -->
    </slot>
    <infinite-loading :identifier="identifier" @infinite="infiniteHandler">
      <template #spinner>
        <v-progress-circular class="ma-4" indeterminate color="primary" size="40">
          <!-- loader  -->
        </v-progress-circular>
      </template>
      <template #no-more>
        <div class="no-data mt-4">No more data</div>
      </template>
      <template #no-results>
        <div class="no-data mt-4">No data</div>
      </template>
    </infinite-loading>
  </div>
</template>

<script>
import InfiniteLoading from "vue-infinite-loading"

export default {
  name: "ItemList",

  components: { InfiniteLoading },

  props: {
    apiUrl: { type: String, required: true },
    filters: { type: Object, default: () => ({}) },
  },

  data() {
    return {
      page: 1,
      identifier: 1,
      items: [],
    }
  },

  watch: {
    filters: {
      handler() {
        this.refresh()
      },
      deep: true,
    },
  },

  methods: {
    infiniteHandler(state) {
      this.fetch().then(({ total, next }) => {
        if (total) {
          state.loaded()
        }
        if (!next) {
          state.complete()
        }
      })
    },
    refresh() {
      this.items = []
      this.page = 1
      this.identifier++
    },
    fetch() {
      const params = {
        page: this.page,
        ...this.filters,
      }
      return this.$http.get(this.apiUrl, { params }).then(({ data }) => {
        this.items.push(...data.data)
        this.page++
        return { next: data.links.next, total: data.meta.total }
      })
    },
    destroy(item) {
      return this.$http.delete(`${this.apiUrl}/${item.id}`).then(() => {
        this.remove(item)
      })
    },
    append(item) {
      this.items.unshift(item)
    },
    update(item) {
      const index = this.items.findIndex(i => i.id == item.id)
      this.items.splice(index, 1, item)
    },
    remove(item) {
      const index = this.items.findIndex(i => i.id == item.id)
      this.items.splice(index, 1)
    },
  },
}
</script>

<style scoped>
.no-data {
  color: rgba(0, 0, 0, 0.3);
}
</style>
