<template>
  <v-container class="about flex-column" fluid fill-height>
    <h1 class="grey--text">You are about to see an ABOUT page here</h1>
    <div class="flex-grow-1 d-flex align-center">
      <TechnologyCloud class="cloud" :key="index" @click.native="refresh" />
    </div>
  </v-container>
</template>

<script>
import { debounce } from "@/services/debounce"
import TechnologyCloud from "@/components/TechnologyCloud"

export default {
  components: { TechnologyCloud },

  data() {
    return {
      index: 1,
    }
  },

  created() {
    const resizeHandler = debounce(() => {
      this.refresh()
    }, 200)

    window.addEventListener("resize", resizeHandler)
    this.$once("hook:beforeDestroy", () => {
      window.removeEventListener("resize", resizeHandler)
    })
  },

  methods: {
    refresh() {
      this.index++
    },
  },
}
</script>

<style scoped>
.cloud {
  cursor: pointer;
}
</style>
