<template>
  <v-container>
    <section class="contacts-section mt-2">
      <v-card class="d-flex justify-space-between mw-600">
        <div class="flex-grow-1">
          <v-card-title>We are here to help. Get in touch!</v-card-title>
          <v-card-text class="contact-info-text">
            <div class="mt-2">
              <v-icon class="mr-2">mdi-map-marker</v-icon>
              <span>Address: 123 Example str., Laravill, CT, USA</span>
            </div>
            <div class="mt-2">
              <v-icon class="mr-2">mdi-cellphone-iphone</v-icon>
              <span>Phone: +1 (101) 222 2222</span>
            </div>
            <div class="mt-2">
              <v-icon class="mr-2">mdi-email-outline</v-icon>
              <span>Email:</span>
              <a>mike.wazovzky@gmail.com</a>
            </div>
            <v-checkbox
              class="mt-2 pt-0"
              :v-model="mailList"
              label="Yes! Sign me up for weekly newsletter"
              hide-details
            />
          </v-card-text>
        </div>
        <img class="image" src="/img/about400x400.jpg" />
      </v-card>
    </section>

    <section class="contacts-section mt-6">
      <GoogleMap class="google-map" :markers="markers" />
    </section>

    <section class="contacts-section mt-6">
      <div class="d-flex justify-center pt-2" style="width: 100%; background: #ffffff;">
        <MetroMap :stations="stations" style="width: 80%;" />
      </div>
    </section>

    <section class="contacts-section mt-6">
      <FeedbackForm />
    </section>
  </v-container>
</template>

<script>
import GoogleMap from "@/components/GoogleMap"
import MetroMap from "@/components/MetroMap"
import FeedbackForm from "@/components/FeedbackForm"

export default {
  components: {
    GoogleMap,
    MetroMap,
    FeedbackForm,
  },
  data() {
    return {
      mailList: false,
      markers: [
        { position: { lat: 55.6019639, lng: 37.5319462 } },
        { position: { lat: 55.5959846, lng: 37.5412237 } },
        { position: { lat: 55.6007322, lng: 37.5451501 } },
      ],
      stations: [
        { id: 166, line_id: 6 },
        { id: 84, line_id: 6 },
      ],
    }
  },
}
</script>

<style scoped>
.mw-600 {
  min-width: 600px;
}
.contact-info-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}
.image {
  height: 200px;
  max-width: 100%;
}
.metro-map {
  width: 70%;
}
</style>
