<template>
  <div class="home fill-height d-flex flex-column">
    <div class="top"></div>
    <div class="bottom flex-wrap">
      <v-card class="card ma-2">
        <img class="image" src="/img/sulley.jpg" />
      </v-card>
      <v-card class="card ma-2" hover>
        <img class="image" src="/img/rendall.jpg" />
      </v-card>
      <v-card class="card ma-2" hover>
        <img class="image" src="/img/ceila.jpg" />
      </v-card>
      <v-card class="card ma-2" hover>
        <img class="image" src="/img/boo.jpg" />
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
}
</script>

<style scoped>
.home {
  background-image: url("/img/backgrounds/keyboard.jpg");
  background-size: cover;
}
.top {
  flex-grow: 2;
  flex-basis: 60%;
}
.bottom {
  flex-grow: 1;
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 4px !important;
  height: 200px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.image {
  max-height: 100%;
}
</style>
