<template>
  <v-dialog v-model="dialog" width="400" @keydown.esc="cancel" @keydown.enter="agree">
    <v-card>
      <v-card-title>{{ title }}</v-card-title>
      <v-card-actions>
        <v-spacer />
        <v-btn depressed color="primary" @click.native="cancel">Cancel</v-btn>
        <v-btn depressed color="primary" @click.native="agree">Proceed</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "ConfirmDialog",

  data() {
    return {
      dialog: false,
      resolve: null,
      reject: null,
      title: null,
    }
  },

  methods: {
    open(title) {
      this.dialog = true
      this.title = title
      return new Promise((resolve, reject) => {
        this.resolve = resolve
        this.reject = reject
      })
    },
    agree() {
      this.resolve(true)
      this.dialog = false
    },
    cancel() {
      this.resolve(false)
      this.dialog = false
    },
  },
}
</script>
