<template>
  <v-btn icon @click="toggle" :disabled="isDisabled" :loading="loading">
    <v-icon color="primary">{{ value ? "mdi-star" : "mdi-star-outline" }}</v-icon>
  </v-btn>
</template>

<script>
const API_URL = "favorites"

export default {
  name: "FavoriteButton",

  props: {
    value: { type: Boolean, default: false },
    favoriteType: { type: String, default: null },
    favoriteId: { type: Number, default: null },
    disabled: { type: Boolean, default: false },
  },

  data() {
    return {
      loading: false,
    }
  },

  computed: {
    isDisabled() {
      return this.disabled || this.loading || !this.favoriteType || !this.favoriteId
    },
  },

  methods: {
    toggle() {
      this.loading = true
      const method = this.value ? "delete" : "post"
      this.$http[method](`${API_URL}/${this.favoriteType}/${this.favoriteId}`)
        .then(() => {})
        .catch(err => {
          console.log(err)
        })
        .finally(() => {
          this.loading = false
        })
      this.$emit("input", !this.value)
    },
  },
}
</script>
