<template>
  <v-card width="100%">
    <v-card-text>
      <v-row>
        <v-col sm="12" md="6" class="d-flex flex-column align-center">
          <h2 class="py-2">Drop a message!</h2>
          <div class="flex-grow-1 d-flex align-center my-8">
            <img class="image" src="/img/email.png" />
          </div>
        </v-col>
        <v-col sm="12" md="6">
          <v-form v-model="isValid" @submit.prevent="submit">
            <v-text-field
              class="form-input"
              v-model="form['name']"
              placeholder="Name"
              :rules="nameRules"
              solo
            />
            <v-text-field
              class="form-input"
              v-model="form['email']"
              placeholder="Email"
              :rules="emailRules"
              solo
            />
            <v-text-field
              class="form-input"
              v-model="form['phone']"
              placeholder="Phone"
              v-mask="`+# (###) ###-##-##`"
              solo
            />
            <v-textarea
              class="form-input"
              v-model="form['body']"
              placeholder="Message"
              :rules="bodyRules"
              solo
            />
            <v-btn type="submit" :loading="loading" :disabled="sent" color="primary">Send</v-btn>
          </v-form>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
const API_URL = "feedback"

export default {
  name: "ContactForm",
  data() {
    return {
      form: {
        name: "",
        email: "",
        phone: "",
        body: "",
      },
      isValid: true,
      loading: false,
      sent: false,
    }
  },
  computed: {
    nameRules() {
      return [value => !!value || "Name is required"]
    },
    emailRules() {
      return [
        value => !!value || "Email is required",
        value => /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-z]+$/.test(value) || "E-mail must be valid",
      ]
    },
    bodyRules() {
      return [value => !!value || "Message is required"]
    },
    passwordRules() {
      return [
        value => !!value || "Password is required",
        value => (value && value.length >= 6) || "Password must have 6+ characters",
        value => /(?=.*[A-Z])/.test(value) || "Must have one uppercase character",
        value => /(?=.*\d)/.test(value) || "Must have one number",
        value => /([!@#$%])/.test(value) || "Must have one special character [!@#$%]",
      ]
    },
    phoneRules() {
      return [
        // value =>
        //   /^\+?\d(\(\d{3}\)|-\d{3}-|\d{3})\d{3}-?\d{2}-?\d{2}$/.test(value.replace(/\s+/g, ""))
        //  ||  "Phone must be valid",
      ]
    },
  },
  methods: {
    submit() {
      this.loading = true
      this.$http
        .post(API_URL, this.form)
        .then(() => (this.sent = true))
        .catch(err => console.log(err))
        .finally(() => (this.loading = false))
    },
  },
}
</script>

<style scoped>
.image {
  width: 120px;
  height: 120px;
}
</style>
