<template>
  <v-card>
    <v-card-title class="pb-0">Loader</v-card-title>
    <v-card-text>
      <v-radio-group
        class="mt-0"
        :value="value"
        hide-details
        @change="value => $emit('input', value)"
      >
        <v-radio value="infinite" label="Infinite" />
        <v-radio value="button" label="Button" />
        <v-radio value="paginator" label="Paginator" />
      </v-radio-group>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    value: { type: String, default: "" },
  },
}
</script>
