<template>
  <aside class="sidebar mt-2 ml-4">
    <slot></slot>
  </aside>
</template>

<style scoped>
.sidebar {
  height: fit-content;
  position: sticky;
  top: 70px;
  min-width: 240px;
  width: 240px;
}
</style>
