<template>
  <ul class="tags" v-if="tags && tags.length">
    <li v-for="tag in tags" :key="tag.id">
      <a :href="href(tag.name)">{{ tag.name }}</a>
    </li>
  </ul>
</template>

<script>
import { appendUrlParams } from "@/services/url"

export default {
  name: "TagList",

  props: {
    tags: { type: Array, default: null },
    url: { type: String, required: true },
  },
  methods: {
    href(tag) {
      return appendUrlParams(this.url, { tag })
    },
  },
}
</script>

<style scoped>
.tags {
  padding-left: 0;
  display: inline;
}
.tags li {
  list-style: none;
  display: inline;
}
.tags li:after {
  content: " | ";
}
.tags li:last-child:after {
  content: none;
}
</style>
