<template>
  <v-card class="post-card d-flex" hover height="150">
    <v-img class="post-image" :src="src" width="150" height="150" />
    <v-card-text class="d-flex">
      <div class="post-info flex-grow-1 mr-4">
        <div class="post-title mb-2">{{ title }}</div>
        <div class="post-category">{{ post.category && post.category.name }}</div>
        <TagsList :tags="post.tags" url="posts" />
        <div class="font-italic">
          <a class="post-author" href="#">{{ post.user && post.user.name }}</a>
          posted
          <span class="post-created-at secondary--text">{{ createdAt }}</span>
        </div>
        <div class="post-exerpt mt-2">{{ post.body }}</div>
      </div>
      <div class="d-flex flex-column justify-center align-center">
        <slot name="actions"></slot>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import moment from "moment"
import TagsList from "@/components/TagsList"

export default {
  name: "PostCard",

  components: {
    TagsList,
  },

  props: {
    post: { type: Object, required: true },
  },

  computed: {
    src() {
      return this.post.photo ? this.post.photo.preview : "/img/placeholder.png"
    },
    title() {
      const max = 80
      const title = this.post.title
      return title.length > max ? `${title.slice(0, max)} ...` : title
    },
    createdAt() {
      return moment(this.post.created_at).fromNow()
    },
    excerpt() {
      const max = 200
      return this.post.body.slice(0, max) + "..."
    },
  },
}
</script>

<style scoped>
.post-card {
  cursor: inherit;
}
.post-image {
  border-radius: 4px !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 0 !important;
}
.post-info {
  overflow: hidden;
}
.post-title {
  font-size: 1.6em;
}
.post-author {
  text-decoration: none;
}
.post-exerpt {
  position: relative;
  width: 100%;
  line-height: 20px;
  height: 100%;
  overflow: hidden;
}
</style>
