<template>
  <v-card>
    <v-card-text class="pa-3">
      <FilterSearch v-model="filters['search']" />
    </v-card-text>

    <v-divider />

    <FilterFavorite v-model="filters['favorite']" />

    <v-divider />

    <v-card-title class="pb-0">Category</v-card-title>
    <FilterCategory class="pb-0" v-model="filters['category']" />

    <v-card-title class="pb-0">Tags</v-card-title>
    <FilterTags class="pb-0" v-model="filters['tags']" />

    <v-card-title class="pb-0">Order by</v-card-title>
    <FilterOrderby v-model="filters['orderby']" />

    <v-divider />

    <v-card-text class="d-flex align-center">
      <div>Apply filters</div>
      <v-spacer />
      <v-btn icon color="primary" @click="update">
        <v-icon>mdi-filter</v-icon>
      </v-btn>
      <v-btn icon color="primary" @click="clear">
        <v-icon>mdi-filter-remove-outline</v-icon>
      </v-btn>
    </v-card-text>
  </v-card>
</template>

<script>
import FilterSearch from "./Filters/Search"
import FilterFavorite from "./Filters/Favorite"
import FilterCategory from "./Filters/Category"
import FilterTags from "./Filters/Tags"
import FilterOrderby from "./Filters/Orderby"

export default {
  name: "PostFilters",

  components: {
    FilterSearch,
    FilterFavorite,
    FilterCategory,
    FilterTags,
    FilterOrderby,
  },

  props: {
    value: { type: Object, required: true },
  },

  data() {
    return {
      filters: {},
    }
  },

  watch: {
    value: {
      handler(value) {
        this.filters = { ...value }
      },
      immediate: true,
      deep: true,
    },
  },

  methods: {
    update() {
      this.$emit("input", { ...this.filters })
    },
    clear() {
      this.$emit("input", {})
    },
  },
}
</script>
