<template>
  <ItemForm
    :api-url="API_URL"
    :item="value"
    :item-default="ITEM_DEFAULT"
    #default="{form, errorMessages, clearErrors, loading }"
    @save="value => $emit('input', value)"
  >
    <v-text-field
      label="Title"
      v-model="form['title']"
      :error-messages="errorMessages['title']"
      :disabled="disabled"
      @input="clearErrors('title')"
    />
    <CategorySelect v-model="form['category_id']" />
    <TagsSelect v-model="form['tags']" />
    <v-textarea
      label="Body"
      v-model="form['body']"
      :disabled="disabled"
      :error-messages="errorMessages['body']"
      auto-grow
      @input="clearErrors('body')"
    />
    <v-btn class="mr-1" :loading="loading" :disabled="disabled" type="submit" color="primary">
      Save
    </v-btn>
    <slot name="actions" :loading="loading"></slot>
  </ItemForm>
</template>

<script>
import { API_URL, ITEM_DEFAULT } from "."
import { ItemForm } from "@/components/Item"
import CategorySelect from "@/components/Form/CategorySelect"
import TagsSelect from "@/components/Form/TagsSelect"

export default {
  name: "PostForm",

  components: {
    ItemForm,
    CategorySelect,
    TagsSelect,
  },

  props: {
    value: { type: Object, default: null },
    disabled: { type: Boolean, default: false },
  },

  data() {
    return {
      API_URL,
      ITEM_DEFAULT,
    }
  },
}
</script>
