<template>
  <div>
    <div class="post-image d-flex justify-center align-center" :style="postImage">
      <div class="d-flex flex-column" v-if="!photo">
        <v-icon x-large color="primary">mdi-camera</v-icon>
        <div class="caption primary--text">place here featured image</div>
      </div>
      <ImageSelect class="button" @change="change" @error="handleError" @click="clearErrors">
        <template #default="{click}">
          <v-btn v-if="!disabled" class="primary ml-1 mt-1" color="white" icon @click="click">
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
        </template>
      </ImageSelect>
    </div>
    <InputErrors :error-messages="errorMessages" />
  </div>
</template>

<script>
import ImageSelect from "@/components/Form/ImageSelect"
import InputErrors from "@/components/Form/InputErrors"

const API_URL = "photos"

export default {
  name: "PostPhoto",

  components: {
    ImageSelect,
    InputErrors,
  },

  props: {
    post: { type: Object, required: true },
    disabled: { type: Boolean, default: false },
  },

  data() {
    return {
      photo: this.post.photo,
      errorMessages: [],
    }
  },

  computed: {
    src() {
      return this.photo && this.photo.image
    },
    postImage() {
      return {
        backgroundImage: `url(${this.src})`,
      }
    },
    save() {
      return this.photo ? this.update : this.store
    },
  },

  methods: {
    change(image) {
      const formData = new FormData()
      formData.append("image", image)
      return this.save(formData)
        .then(res => {
          this.photo = res.data.data
        })
        .catch(err => {
          console.log(err.response)
          this.handleError("Failed to upload image")
        })
    },

    store(formData) {
      formData.append("entity_type", "posts")
      formData.append("entity_id", this.post.id)
      formData.append("is_primary", 1)
      return this.$http.post(API_URL, formData)
    },

    update(formData) {
      return this.$http.post(`${API_URL}/${this.photo.id}`, formData)
    },

    destroy() {
      return this.$http
        .delete(API_URL)
        .then(() => {
          this.photo = null
          this.clearErrors()
        })
        .catch(err => {
          console.log(err.response)
          this.handleError("Failed to remove image")
        })
    },

    handleError(err) {
      this.errorMessages.push(err)
    },

    clearErrors() {
      this.errorMessages = []
    },
  },
}
</script>

<style scoped>
.post-image {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 20vh;
  /* padding-bottom: 25%; */
  overflow: hidden;
  /* margin-top: -12px; */
  /* margin-left: -12px; */
  /* margin-right: -12px; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
.button {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
</style>
