<template>
  <div>
    <Preview :photos="photos" :disabled="disabled" @click="open" @delete="destroy">
      <ImageSelect @change="store" @error="handleError" @click="clearErrors" #default="{click}">
        <v-btn v-if="!disabled" class="primary ml-1 mt-1" color="white" icon @click="click">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </ImageSelect>
    </Preview>
    <Gallery v-model="gallery" :photos="photos" ref="gallery" />
    <InputErrors :error-messages="errorMessages" />
  </div>
</template>

<script>
import Preview from "./Preview"
import Gallery from "./Gallery"
import ImageSelect from "@/components/Form/ImageSelect"
import InputErrors from "@/components/Form/InputErrors"

const API_URL = "photos"

export default {
  name: "PhotoCollection",

  components: {
    Preview,
    Gallery,
    ImageSelect,
    InputErrors,
  },

  props: {
    disabled: { type: Boolean, default: false },
    filters: { type: Object, default: () => ({}) },
  },

  data() {
    return {
      photos: [],
      errorMessages: [],
      gallery: false,
    }
  },

  created() {
    this.load()
  },

  methods: {
    load() {
      this.$http.get(API_URL, { params: this.filters }).then(res => (this.photos = res.data.data))
    },

    open(item) {
      this.$refs["gallery"].open(item)
    },

    store(image) {
      const formData = new FormData()
      formData.append("image", image)
      Object.keys(this.filters).forEach(key => formData.append(key, this.filters[key]))
      return this.$http
        .post(API_URL, formData)
        .then(res => {
          this.photos.unshift(res.data.data)
        })
        .catch(err => {
          console.log(err.response)
          this.handleError("Failed to upload photo")
        })
    },

    destroy(item) {
      return this.$http
        .delete(`${API_URL}/${item.id}`)
        .then(() => {
          const index = this.photos.findIndex(photo => photo.id == item.id)
          this.photos.splice(index, 1)
          this.clearErrors()
        })
        .catch(err => {
          console.log(err.response)
          this.handleError("Failed to remove photo")
        })
    },

    handleError(err) {
      this.errorMessages.push(err)
    },

    clearErrors() {
      this.errorMessages = []
    },
  },
}
</script>
