<template>
  <transition v-if="gallery" name="modal">
    <div class="modal-mask d-flex align-center">
      <v-btn class="button-close" fab small dark @click="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>

      <div class="modal-container d-flex justify-space-between align-center pa-2">
        <v-btn :disabled="first" icon color="grey" @click="prev">
          <v-icon>mdi-arrow-left-circle-outline</v-icon>
        </v-btn>
        <div class="photo d-flex flex-column justify-center pa-2">
          <img class="image" :src="photo.image" />
        </div>
        <v-btn :disabled="last" icon color="grey" @click="next">
          <v-icon>mdi-arrow-right-circle-outline</v-icon>
        </v-btn>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "PhotoGallery",

  model: {
    prop: "gallery",
  },

  props: {
    gallery: { type: Boolean, required: true },
    photos: { type: Array, required: true },
  },

  data() {
    return {
      index: 0,
    }
  },

  computed: {
    photo() {
      return this.photos[this.index]
    },
    first() {
      return this.index == 0
    },
    last() {
      return this.index == this.photos.length - 1
    },
  },

  methods: {
    open(item = null) {
      this.index = item ? this.photos.findIndex(photo => photo.id == item.id) : 0
      this.$emit("input", true)
    },
    prev() {
      this.index--
    },
    next() {
      this.index++
    },
    close() {
      this.$emit("input", false)
    },
  },
}
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity 0.3s ease;
  align-items: center;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-container {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.photo {
  height: inherit;
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
