<template>
  <v-hover #default="{ hover }">
    <template>
      <div class="wrapper">
        <img class="image" :src="photo.preview" @click="$emit('click')" />
        <v-btn
          class="button"
          v-if="!disabled && hover"
          color="error"
          fab
          x-small
          @click="$emit('delete')"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
    </template>
  </v-hover>
</template>

<script>
export default {
  name: "PhotoItem",

  props: {
    photo: { type: Object, required: true },
    disabled: { type: Boolean, default: true },
  },
}
</script>

<style scoped>
.wrapper {
  position: relative;
  height: 200px;
}
.image {
  max-height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  cursor: pointer;
}
.button {
  position: absolute;
  top: 4px;
  right: 4px;
}
</style>
