<template>
  <v-hover #default="{ hover }">
    <div>
      <div class="image-wrapper" :style="imageStyles">
        <template v-if="photo || disabled">
          <img class="image" :src="src" />
          <v-btn
            class="button-remove"
            v-if="!disabled && hover"
            color="error"
            fab
            small
            @click="removePhoto"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <ConfirmDialog ref="confirm" />
        </template>

        <template v-else>
          <ImageSelect @change="store" @error="handleError" @click="clearErrors" #default="{click}">
            <!-- <ImageCreate
            :width="width"
            :height="height"
            @change="store"
            @error="handleError"
            @click="clearErrors"
            #default="{click}"
            >-->
            <v-btn
              class="button-upload grey--text ma-2"
              :loading="loading"
              :width="width"
              :height="height"
              :tile="tile"
              text
              @click="click"
            >
              <v-icon x-large>mdi-camera-plus</v-icon>
              <div v-if="label" class="button-label">{{ label }}</div>
            </v-btn>
          </ImageSelect>
          <!-- </ImageCreate> -->
        </template>
      </div>
      <InputErrors :error-messages="errorMessages" />
    </div>
  </v-hover>
</template>

<script>
import ConfirmDialog from "@/components/ConfirmDialog"
import ImageSelect from "@/components/Form/ImageSelect"
// import ImageCreate from "@/components/Form/ImageCreate"
import InputErrors from "@/components/Form/InputErrors"

const DEFAULT_IMAGE = "/img/default.png"
const ERROR_FILE_UPLOAD = "Failed too upload file"
const ERROR_FILE_REMOVE = "Failed too delete file"

const API_URL = "photos"

export default {
  name: "Photo",

  components: {
    ConfirmDialog,
    ImageSelect,
    // ImageCreate,
    InputErrors,
  },

  model: {
    prop: "photo",
  },

  props: {
    photo: { type: Object, default: () => null },
    entity_type: { type: String, required: true },
    entity_id: { type: Number, required: true },
    is_primary: { type: Boolean, default: true },
    label: { type: String, default: "Load photo" },
    width: { type: Number, default: 200 },
    height: { type: Number, default: 200 },
    tile: { type: Boolean, default: true },
    disabled: { type: Boolean, default: false },
  },

  data() {
    return {
      loading: false,
      errorMessages: [],
    }
  },

  computed: {
    src() {
      return this.photo ? this.photo.preview : this.disabled ? DEFAULT_IMAGE : null
    },
    imageStyles() {
      return {
        width: `${this.width}px`,
        height: `${this.height}px`,
      }
    },
  },

  methods: {
    store(image) {
      this.loading = true
      const formData = new FormData()
      formData.append("image", image)
      formData.append("entity_type", this.entity_type)
      formData.append("entity_id", this.entity_id)
      formData.append("is_primary", this.is_primary ? 1 : 0)
      return this.$http
        .post(API_URL, formData)
        .then(res => {
          this.$emit("input", res.data.data)
        })
        .catch(err => {
          console.log(err.response)
          this.handleError(ERROR_FILE_UPLOAD)
        })
        .finally(() => {
          this.loading = false
        })
    },

    // uploadFile(image) {
    //   const formData = new FormData()
    //   formData.append("image", image)
    //   formData.append("entity_type", this.entity_type)
    //   formData.append("entity_id", this.entity_id)
    //   formData.append("is_primary", this.is_primary ? 1 : 0)
    //   return this.$http.post(API_URL, formData).catch(err => {
    //     console.log(err.response)
    //     throw new Error(ERROR_FILE_UPLOAD)
    //   })
    // },

    // createPhoto(formData) {
    //   return this.$http.post(API_URL, formData)
    // },

    removePhoto() {
      this.$refs.confirm.open("Delete photo?").then(confirm => {
        if (confirm) {
          this.destroyPhoto()
        }
      })
    },

    destroyPhoto() {
      this.$http
        .delete(`${API_URL}/${this.photo.id}`)
        .then(() => {
          this.$emit("input", null)
        })
        .catch(err => {
          console.log(err)
          this.handleError(ERROR_FILE_REMOVE)
        })
    },

    handleError(err) {
      this.errorMessages.push(err)
    },

    clearErrors() {
      this.errorMessages = []
    },
  },
}
</script>

<style lang="scss" scoped>
.image-wrapper {
  position: relative;
}

.image {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.button-remove {
  position: absolute;
  top: -10px;
  right: -10px;
}
</style>

<style lang="scss">
.button-upload {
  border: 3px #e6e6e6 dashed;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    text-transform: initial;
    flex-direction: column;
  }
  &:hover {
    background: #e5f1fd;
    color: #0088ec !important;
    border-color: #0088ec;
  }
  .button-label {
    white-space: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    margin-top: 10px;
  }
}
</style>
