<template>
  <div class="d-flex flex-wrap align-end">
    <div class="mr-1 mt-1" v-for="item in items" :key="item.id">
      <Item
        :photo="item"
        :disabled="disabled"
        @click="$emit('click', item)"
        @delete="$emit('delete', item)"
      />
    </div>
    <v-btn v-if="show" class="button-toggle ml-1 mt-1" color="primary" icon @click="toggle">
      <v-icon>{{ icon }}</v-icon>
    </v-btn>
    <slot></slot>
  </div>
</template>

<script>
import Item from "./Item"

export default {
  name: "PhotoPreview",

  components: { Item },

  props: {
    photos: { type: Array, required: true },
    disabled: { type: Boolean, default: true },
    count: { type: Number, default: 3 },
  },

  data() {
    return {
      limit: true,
    }
  },

  computed: {
    show() {
      return this.photos.length > this.count
    },
    items() {
      return this.limit ? this.photos.slice(0, this.count) : this.photos
    },
    icon() {
      return this.limit ? "mdi-dots-horizontal" : "mdi-chevron-up"
    },
  },

  methods: {
    toggle() {
      this.limit = !this.limit
    },
  },
}
</script>

<style scoped>
.button-toggle {
  background-color: rgba(0, 0, 0, 0.05);
}
</style>
