<template>
  <v-container class="user" fluid>
    <h1>Create User</h1>
    <v-divider />
    <UserForm class="mt-8" @input="redirect" />
  </v-container>
</template>

<script>
import UserForm from "@/components/User/Form"

export default {
  name: "UserCreate",

  components: { UserForm },

  methods: {
    redirect() {
      this.$router.push({ name: "UserIndex" })
    },
  },
}
</script>
