<template>
  <v-container class="user" v-if="user" fluid>
    <div class="d-flex align-center">
      <h1 class="flex-grow-1">{{ user.name }}</h1>
      <v-btn icon @click="show">
        <v-icon color="primary">mdi-eye</v-icon>
      </v-btn>
      <v-btn icon @click="destroy">
        <v-icon color="error">mdi-delete</v-icon>
      </v-btn>
    </div>
    <v-divider />
    <h2 class="grey--text mt-4 ml-3">Photo</h2>
    <UserPhoto class="mt-4" v-model="user.photo" :user="user" @input="update" />
    <UserForm class="mt-4" v-model="user" @input="update" />
    <UserPhones class="mt-4" v-model="user.phones" :user="user" />
  </v-container>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex"
import { API_URL, UserForm, UserPhoto, UserPhones } from "@/components/User"

export default {
  name: "UserEdit",

  components: {
    UserPhoto,
    UserForm,
    UserPhones,
  },

  props: {
    user_id: { type: String, required: true },
  },

  data() {
    return {
      user: null,
    }
  },

  computed: {
    ...mapGetters({
      isOwner: "auth/isOwner",
    }),
  },

  created() {
    this.load()
  },

  methods: {
    ...mapMutations(["setLoading"]),
    ...mapActions({
      refresh: "auth/refresh",
    }),
    show() {
      this.$router.push({ name: "UserShow", params: { user_id: this.user_id } })
    },
    load() {
      this.setLoading(true)
      this.$http
        .get(`${API_URL}/${this.user_id}`)
        .then(res => {
          this.user = res.data.data
        })
        .catch(err => {
          console.log(err.response)
        })
        .finally(() => {
          this.setLoading(false)
        })
    },
    destroy() {
      this.isLoading = true
      return this.$http
        .delete(`${API_URL}/${this.user_id}`)
        .then(() => {
          this.$router.push({ name: "UserIndex" })
        })
        .catch(err => {
          console.log(err.response)
        })
        .finally(() => {
          this.isLoading = false
        })
    },
    update() {
      if (this.isOwner(this.user_id)) {
        this.refresh()
      }
    },
  },
}
</script>
