<template>
  <v-container class="user" fluid>
    <div class="d-flex align-center">
      <h1>User Index</h1>
      <v-btn class="ml-4" icon @click="create">
        <v-icon color="primary">mdi-plus</v-icon>
      </v-btn>
    </div>

    <div class="d-flex">
      <main class="flex-grow-1">
        <ItemList :api-url="API_URL" :filters="filters" #default="{ items }">
          <UserCard class="mt-2" v-for="item in items" :key="item.id" :user="item">
            <v-btn icon color="primary" @click="onClick(item)">
              <v-icon>mdi-dots-horizontal</v-icon>
            </v-btn>
          </UserCard>
        </ItemList>
      </main>
      <SidebarPanel>
        <UserFilters v-model="filters" @input="apply" />
      </SidebarPanel>
    </div>
  </v-container>
</template>

<script>
import { ItemList } from "@/components/Item"
import SidebarPanel from "@/components/SidebarPanel"
import { API_URL, UserCard, UserFilters } from "@/components/User"

export default {
  name: "UserIndex",

  components: {
    ItemList,
    SidebarPanel,
    UserCard,
    UserFilters,
  },

  props: {
    role: { type: String, default: null },
    roles: { type: Array, default: () => [] },
  },

  data() {
    return {
      API_URL,
      filters: {
        role: this.role,
        roles: this.roles,
      },
    }
  },

  methods: {
    onClick(item) {
      return this.show(item)
    },
    create() {
      this.$router.push({ name: "UserCreate" })
    },
    show(item) {
      const user_id = String(item.id)
      this.$router.push({ name: "UserShow", params: { user_id } })
    },
    edit(item) {
      const user_id = String(item.id)
      this.$router.push({ name: "UserEdit", params: { user_id } })
    },
    apply(filters) {
      this.$router.push({ name: "UserIndex", query: filters })
    },
  },
}
</script>
