<template>
  <v-container class="user" v-if="user" fluid>
    <div class="d-flex align-center">
      <h1>{{ user.name }}</h1>
      <v-btn class="ml-4" icon @click="edit">
        <v-icon color="primary">mdi-pencil</v-icon>
      </v-btn>
    </div>
    <v-divider />
    <h2 class="grey--text mt-4 ml-3">Photo</h2>
    <UserPhoto class="mt-4" :user="user" disabled />
    <UserForm class="mt-4" :value="user" title="Info" readonly />
    <UserPhones class="mt-4" v-if="hasPhones" v-model="user.phones" :user="user" readonly />
  </v-container>
</template>

<script>
import { mapMutations } from "vuex"
import { API_URL, UserPhoto, UserForm, UserPhones } from "@/components/User"

export default {
  name: "UserShow",

  components: {
    UserPhoto,
    UserForm,
    UserPhones,
  },

  props: {
    user_id: { type: String, required: true },
  },

  data() {
    return {
      user: null,
    }
  },

  created() {
    this.load()
  },

  computed: {
    hasPhones() {
      return this.user && this.user.phones.length > 0
    },
  },

  methods: {
    ...mapMutations(["setLoading"]),
    edit() {
      this.$router.push({ name: "UserEdit", params: { user_id: this.user_id } })
    },
    load() {
      this.setLoading(true)
      this.$http
        .get(`${API_URL}/${this.user_id}`)
        .then(res => {
          this.user = res.data.data
        })
        .catch(err => {
          console.log(err.response)
        })
        .finally(() => {
          this.setLoading(false)
        })
    },
  },
}
</script>
