<template>
  <component :is="layout" />
</template>

<script>
import Default from "@/layouts/Default"
import Auth from "@/layouts/Auth"
import Error from "@/layouts/Error"

export default {
  name: "App",

  components: {
    Default,
    Auth,
    Error,
  },

  computed: {
    layout() {
      return this.$route.meta.layout || "Default"
    },
  },
}
</script>
