<template>
  <v-app id="auth">
    <v-content class="fill-height">
      <router-view />
    </v-content>
    <AppSnackbar />
  </v-app>
</template>

<script>
import AppSnackbar from "@/components/App/Snackbar"

export default {
  name: "Auth",
  components: { AppSnackbar },
}
</script>

<style scoped>
#auth {
  background-image: url("/img/backgrounds/keyboard.jpg");
  background-size: cover;
}
</style>
