<template>
  <v-app>
    <AppNavigationDrawer />

    <v-app-bar app dark clipped-left color="primary">
      <v-toolbar-title>
        <router-link to="/">
          <AppLogo />
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="d-flex">
        <v-btn class="mr-1 px-2" text to="/">Home</v-btn>
        <v-btn class="mr-1 px-2" text to="/posts">Blog</v-btn>
        <v-btn class="mr-1 px-2" text to="/contacts">Contacts</v-btn>
        <v-btn class="mr-1 px-2" text to="/about">About</v-btn>
      </div>
      <v-divider class="mr-1" vertical inset />
      <div class="d-flex" v-if="isAuthenticated">
        <UserMenu :user="user" @logout="logout" />
      </div>
      <div class="d-flex" v-else>
        <v-btn class="mr-1 px-2" text to="/login">Login</v-btn>
      </div>
    </v-app-bar>

    <v-content class="background">
      <AppLoader />
      <router-view />
    </v-content>

    <v-divider />

    <AppFooter />
    <AppSnackbar />
  </v-app>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex"
import AppNavigationDrawer from "@/components/App/NavigationDrawer"
import AppLogo from "@/components/App/Logo"
import AppLoader from "@/components/App/Loader"
import AppFooter from "@/components/App/Footer"
import AppSnackbar from "@/components/App/Snackbar"
import UserMenu from "@/components/User/Menu"

export default {
  name: "App",

  components: {
    AppLogo,
    AppNavigationDrawer,
    AppLoader,
    AppFooter,
    AppSnackbar,
    UserMenu,
  },

  computed: {
    ...mapGetters({
      user: "auth/user",
      isAuthenticated: "auth/isAuthenticated",
    }),
  },

  methods: {
    ...mapMutations(["setLoading"]),
    ...mapActions({ authLogout: "auth/logout" }),
    logout() {
      this.authLogout().then(() => this.$router.push({ name: "Home" }))
    },
  },
}
</script>

<style>
.v-toolbar__content {
  padding: 4px !important;
}
</style>
