<template>
  <div class="error-page fill-height d-flex flex-column justify-space-between align-center py-10">
    <div>ERROR! Something went complitely wrong!</div>
    <div class="text-center">
      <div class="error-code">404</div>
      <div class="error-message">Page Not Found</div>
    </div>
    <div>
      Back to
      <a href="/">homepage</a>
    </div>
  </div>
</template>

<style scoped>
.error-page {
  font-family: "Fredoka One", cursive;
}
.error-code {
  font-size: 24em;
  line-height: 1;
  color: rgb(202, 202, 202);
}
.error-message {
  font-size: 4em;
}
</style>
