<template>
  <v-container class="fill-height justify-center align-center">
    <v-card width="400">
      <v-card-title>Login</v-card-title>
      <v-divider />
      <v-card-text>
        <v-form class="text-center" v-model="isValid" @submit.prevent="submit">
          <v-text-field
            v-model="form.email"
            label="Email"
            :rules="validationRules['email']"
            :error-messages="errorMessages.email"
            @input="clearErrors('email')"
          />
          <v-text-field
            v-model="form.password"
            label="Password"
            type="password"
            :rules="validationRules['password']"
            :error-messages="errorMessages.password"
            @input="clearErrors('password')"
          />
          <v-btn class="mt-4" type="submit" color="primary" :disabled="!isValid">Login</v-btn>
        </v-form>
      </v-card-text>
      <v-card-text class="text-center">
        <router-link class="mx-1" to="/register">Register</router-link>
        <router-link class="mx-1" to="/reset-password">Forgot Password?</router-link>
      </v-card-text>
      <v-progress-linear :active="isLoading" :indeterminate="isLoading" />
    </v-card>
  </v-container>
</template>

<script>
import { mapActions } from "vuex"

export default {
  name: "Login",

  data() {
    return {
      isLoading: false,
      isValid: false,
      errorMessages: [],
      form: {
        email: "",
        password: "",
      },
    }
  },

  computed: {
    validationRules() {
      const min = 6
      return {
        email: [
          value => !!value || "Email required",
          value => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value) || "Invalid e-mail",
        ],
        password: [
          value => !!value || "Password required",
          value => (value && value.length >= min) || `Password must be at least ${min} chars`,
        ],
      }
    },
  },

  methods: {
    ...mapActions({ login: "auth/login" }),
    submit() {
      this.isLoading = true
      return this.$http
        .post("login", this.form)
        .then(res => {
          this.login(res.data.data)
          this.$router.push({ name: "Home" })
        })
        .catch(err => {
          this.errorMessages = err.response.data.errors || {}
        })
        .finally(() => {
          this.isLoading = false
        })
    },
    clearErrors(key) {
      this.$set(this.errorMessages, key, null)
    },
  },
}
</script>
