<template>
  <v-container class="fill-height justify-center align-center">
    <v-card width="400">
      <v-card-title>Registration</v-card-title>
      <v-divider />
      <v-card-text>
        <v-form class="text-center" v-if="step == 1" v-model="valid" @submit.prevent="register">
          <v-text-field
            v-model="registerForm.name"
            label="Name"
            :rules="validationRules['name']"
            :error-messages="errorMessages.name"
            @input="clearErrors('name')"
          />
          <v-text-field
            v-model="registerForm.email"
            label="Email"
            :rules="validationRules['email']"
            :error-messages="errorMessages.email"
            @input="clearErrors('email')"
          />
          <v-text-field
            v-model="registerForm.password"
            label="Password"
            type="password"
            :rules="validationRules['password']"
            :error-messages="errorMessages.password"
            @input="clearErrors('password')"
          />
          <v-text-field
            v-model="registerForm.password_confirmation"
            label="Password Confirmation"
            type="password"
            :rules="validationRules['password_confirmation']"
            :error-messages="errorMessages.password_confirmation"
            @input="clearErrors('password_confirmation')"
          />
          <v-btn class="mt-4" type="submit" color="primary" :disabled="!valid || loading">
            Register
          </v-btn>
        </v-form>

        <v-form class="text-center" v-if="step == 2" v-model="valid" @submit.prevent="verify">
          <v-text-field v-model="verifyForm.email" label="Email" disabled />
          <v-text-field
            v-model="verifyForm.code"
            label="Code"
            :error-messages="errorMessages.code"
            @input="clearErrors('code')"
          />
          <v-btn class="mt-4" type="submit" color="primary" :disabled="!valid || loading">
            Confirm
          </v-btn>
        </v-form>
      </v-card-text>
      <v-card-text class="text-center">
        <router-link class="mx-1" to="/login">Login</router-link>
        <router-link class="mx-1" to="/reset-password">Forgot Password?</router-link>
      </v-card-text>
      <v-progress-linear :active="loading" :indeterminate="loading" />
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "Register",

  data() {
    return {
      step: 1,
      loading: false,
      valid: true,
      errorMessages: {},
      registerForm: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
      },
      verifyForm: {
        email: "",
        code: "",
      },
    }
  },

  computed: {
    validationRules() {
      const min = 6
      return {
        name: [value => !!value || "Name required"],
        email: [
          value => !!value || "Email required",
          value => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value) || "Invalid e-mail",
        ],
        password: [
          value => !!value || "Password required",
          value => (value && value.length >= min) || `Password must be at least ${min} chars`,
        ],
        password_confirmation: [
          value => (value && value === this.registerForm.password) || `Passwords do not match`,
        ],
      }
    },
  },

  methods: {
    register() {
      this.request("register", this.registerForm, () => {
        this.verifyForm.email = this.registerForm.email
        this.step = 2
      })
    },
    verify() {
      this.request("verify-email", this.verifyForm, () => {
        this.$router.push({ name: "Login" })
      })
    },
    request(url, data, callback = res => res) {
      this.loading = true
      return this.$http
        .post(`register/${url}`, data)
        .then(res => callback(res))
        .catch(err => (this.errorMessages = err.response.data.errors))
        .finally(() => (this.loading = false))
    },
    clearErrors(key) {
      this.$set(this.errorMessages, key, null)
    },
  },
}
</script>
