<template>
  <v-container class="fill-height justify-center align-center">
    <v-card width="400">
      <v-card-title>Reset Password</v-card-title>
      <v-divider />
      <v-card-text>
        <v-form class="text-center" v-if="step == 1" v-model="valid" @submit.prevent="sendCode">
          <v-text-field
            v-model="form.email"
            label="Email"
            :rules="validationRules['email']"
            :error-messages="errorMessages.email"
            @input="clearErrors('email')"
          />
          <v-btn class="mt-4" type="submit" color="primary" :disabled="!valid || loading"
            >Send Verification Code</v-btn
          >
        </v-form>

        <v-form
          class="text-center"
          v-if="step == 2"
          v-model="valid"
          @submit.prevent="resetPassword"
        >
          <v-text-field v-model="form.email" label="Email" disabled />
          <v-text-field
            v-model="form.password"
            label="Password"
            type="password"
            :rules="validationRules['password']"
            :error-messages="errorMessages.password"
            @input="clearErrors('password')"
          />
          <v-text-field
            v-model="form.password_confirmation"
            label="Password Confirmation"
            type="password"
            :rules="validationRules['password_confirmation']"
            :error-messages="errorMessages.password_confirmation"
            @input="clearErrors('password_confirmation')"
          />
          <v-text-field v-model="form.code" label="Code" />
          <v-btn class="mt-4" type="submit" color="primary" :disabled="!valid || loading"
            >Reset Password</v-btn
          >
        </v-form>
      </v-card-text>
      <v-card-text class="text-center">
        <router-link class="mx-1" to="/register">Register</router-link>
        <router-link class="mx-1" to="/login">Login</router-link>
      </v-card-text>
      <v-progress-linear :active="loading" :indeterminate="loading" />
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "ResetPassword",

  data() {
    return {
      step: 1,
      loading: false,
      valid: true,
      errorMessages: [],
      form: {
        email: "",
        password: "",
        password_confirmation: "",
        code: "",
      },
    }
  },

  computed: {
    validationRules() {
      const min = 6
      return {
        email: [
          value => !!value || "Email required",
          value => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value) || "Invalid e-mail",
        ],
        password: [
          value => !!value || "Password required",
          value => (value && value.length >= min) || `Password must be at least ${min} chars`,
        ],
        password_confirmation: [
          value => (value && value === this.form.password) || `Passwords do not match`,
        ],
      }
    },
  },

  methods: {
    sendCode() {
      const { email } = this.form
      this.request("send-code", { email }, () => {
        this.step = 2
      })
    },
    resetPassword() {
      this.request("reset-password", this.form, () => {
        this.$router.push({ name: "Login" })
      })
    },
    request(url, data, callback = res => res) {
      this.loading = true
      return this.$http
        .post(`reset-password/${url}`, data)
        .then(res => callback(res))
        .catch(err => (this.errorMessages = err.response.data.errors))
        .finally(() => (this.loading = false))
    },
    clearErrors(key) {
      this.$set(this.errorMessages, key, null)
    },
  },
}
</script>
