<template>
  <div draggable @dragstart.self="onDragstart" @dragend="onDragend">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    transferData: { type: Object, required: true },
  },
  methods: {
    onDragstart(e) {
      e.dataTransfer.effectAllowed = "move"
      e.dataTransfer.dropEffect = "move"
      e.dataTransfer.setData("payload", JSON.stringify(this.transferData))
      this.$emit("dragstart")
    },
    onDragend(e) {
      this.$emit("dragend", e)
    },
  },
}
</script>
