<template>
  <div :class="{ target }" @dragover="onDragover" @dragleave="onDragleave" @drop.stop="onDrop">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    droppable: { type: Boolean, required: true },
  },

  data() {
    return {
      target: false,
    }
  },

  methods: {
    onDragover(e) {
      this.target = true
      if (this.droppable) {
        e.preventDefault()
      }
    },
    onDragleave() {
      this.target = false
    },
    onDrop(e) {
      this.target = false
      const transferData = JSON.parse(e.dataTransfer.getData("payload"))
      this.$emit("drop", transferData)
    },
  },
}
</script>

<style scoped>
.target {
  background-color: orange;
  color: #f8fafc;
}
</style>
