<template>
  <div @mouseover="onMouseover" @mouseleave="onMouseleave">
    <!-- Show node -->
    <div :class="{ hover }" class="node" v-if="!editForm" ref="form-show">
      <div class="node-content">
        <v-btn :class="node.status" :loading="loading" icon @click="$emit('click')">
          <v-icon>{{ icon }}</v-icon>
        </v-btn>
        <span>{{ node.name }}</span>
        <span class="primary--text">[ID: {{ node.id || "NULL" }}]</span>
      </div>

      <div class="node-actions" v-if="!disabled">
        <v-btn class="mr-1" color="primary" icon small @click="edit">
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
        <v-btn class="primary mr-1" icon small color="white" @click="create">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
        <v-btn class="error mr-1" icon small color="white" @click="destroy">
          <v-icon>mdi-minus</v-icon>
        </v-btn>
      </div>
    </div>

    <!-- Edit node -->
    <div :class="{ hover }" class="node" v-if="editForm">
      <div class="node-content">
        <v-icon>{{ icon }}</v-icon>
        <input
          class="node-content__input"
          v-model="form.name"
          ref="input-edit"
          @keydown.escape="reset"
          @keydown.enter="update"
        />
      </div>
      <div class="node-actions">
        <v-btn class="error white--text" icon small @click="reset">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-btn icon small @click="update">
          <v-icon color="primary">mdi-content-save</v-icon>
        </v-btn>
      </div>
    </div>

    <!-- Create child node -->
    <div :class="{ hover }" class="node ml-5" v-if="createForm">
      <div class="node-content">
        <v-icon>mdi-leaf</v-icon>
        <input
          class="node-content__input"
          v-model="form.name"
          ref="input-create"
          @keydown.escape="reset"
          @keydown.enter="append"
        />
      </div>
      <div class="node-actions">
        <v-btn class="error white--text" icon small @click="reset">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-btn icon small @click="append">
          <v-icon>mdi-content-save</v-icon>
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    node: { type: Object, required: true },
    showChildren: { type: Boolean, default: false },
    loading: { type: Boolean, default: true },
    readonly: { type: Boolean, default: true },
  },

  data() {
    return {
      hover: false,
      editForm: false,
      createForm: false,
      form: {
        name: "",
      },
    }
  },

  computed: {
    icon() {
      if (this.node.children.length) {
        return this.showChildren ? "mdi-folder-open" : "mdi-folder"
      }
      return "mdi-leaf"
    },
    disabled() {
      return this.readonly || this.editForm || this.createForm
    },
  },

  methods: {
    onMouseover() {
      this.hover = true
    },
    onMouseleave() {
      this.hover = false
      this.reset()
    },
    edit() {
      this.form = { ...this.node }
      this.editForm = !this.editForm
      this.$nextTick(() => {
        this.$refs["input-edit"].focus()
      })
    },
    create() {
      this.form = { name: "" }
      this.createForm = true
      this.$nextTick(() => {
        this.$refs["form-show"].classList.remove("hover")
        this.$refs["input-create"].focus()
      })
    },
    reset() {
      this.form = { name: "" }
      this.editForm = false
      this.createForm = false
    },
    update() {
      this.$emit("update", this.form)
      this.reset()
    },
    append() {
      this.$emit("append", this.form)
      this.reset()
      this.$refs["form-show"].classList.add("hover")
    },
    destroy() {
      this.$emit("destroy")
      this.reset()
    },
  },
}
</script>

<style lang="scss" scoped>
.node {
  border-style: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
.hover {
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.hover > .node-actions {
  visibility: visible;
}
.node-content {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  & > * {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 8px;
    padding: 4px;
  }
  &__input {
    border-color: rgb(200, 200, 200);
    width: 100%;
  }
}
.node-actions {
  visibility: hidden;
}
/* Node update status */
.create {
  color: #2ca02c !important;
}
.update {
  color: #ff7f0e !important;
}
.move {
  color: blue !important;
}
.delete {
  color: #d62728 !important;
}
</style>
