<template>
  <div class="tree">
    <Drop :droppable="!isDragged" @drop="onDrop">
      <Drag class="draggable" :transfer-data="node" @dragstart="onDragstart" @dragend="onDragend">
        <tree-node
          :node="node"
          ref="tree-node"
          :show-children="showChildren"
          :readonly="readonly"
          @remove="remove"
          @update="node => update(node)"
          @click="showChildren = !showChildren"
        ></tree-node>
      </Drag>
    </Drop>

    <div class="tree-children" v-show="showChildren">
      <tree
        v-for="(node, index) in children"
        :key="node.id"
        :node="node"
        :readonly="readonly"
        @update="node => updateChild(index, node)"
        @remove="node => removeChild(index, node)"
        @reload="$emit('reload')"
      ></tree>
    </div>
  </div>
</template>

<script>
import TreeNode from "@/components/Tree/Node"
import Drag from "@/components/Tree/Drag"
import Drop from "@/components/Tree/Drop"

export default {
  name: "Tree",

  components: {
    TreeNode,
    Drag,
    Drop,
  },

  props: {
    node: { type: Object, required: true },
    readonly: { type: Boolean, default: false },
  },

  data() {
    return {
      root: {},
      showChildren: true,
      isDragged: false,
    }
  },

  computed: {
    children() {
      return this.order(this.root.children)
    },
  },

  watch: {
    node: {
      handler(value) {
        this.root = value
      },
      immediate: true,
    },
  },

  methods: {
    update(node) {
      this.$emit("update", node)
    },
    remove() {
      this.$emit("remove")
    },
    updateChild(index, node) {
      this.root.children.splice(index, 1, node)
      this.$emit("update", this.root)
    },
    removeChild(index) {
      this.root.children.splice(index, 1)
      this.$emit("update", this.root)
    },
    onDrop(node) {
      this.$refs["tree-node"].move(node)
    },
    onDragstart() {
      this.isDragged = true
    },
    onDragend(e) {
      this.isDragged = false
      if (e.dataTransfer.dropEffect == "move") {
        this.remove()
      }
    },
    /**
     * Order nodes
     * Show nodes with children sorted by name, then nodes without children sorted by name
     */
    order(nodes) {
      return nodes.sort((a, b) => {
        if (a.children.length == 0 && b.children.length != 0) return 1
        if (a.children.length == 0 && b.children.length == 0 && a.name > b.name) return 1
        if (a.children.length != 0 && b.children.length != 0 && a.name > b.name) return 1
        return -1
      })
    },
  },
}
</script>

<style scoped>
.tree-children {
  padding-left: 20px;
}
</style>
