<template>
  <v-container class="user" fluid>
    <h1>Tag Index</h1>

    <div v-for="(item, index) in items" :key="item.id">
      <v-card class="mt-2" hover>
        <v-card-text class="d-flex align-center">
          <v-text-field
            v-model="item.name"
            dense
            outlined
            hide-details
            @keydown.enter="update(index)"
          />
          <div class="ml-4">
            <v-btn icon @click="update(index)">
              <v-icon color="primary">mdi-content-save</v-icon>
            </v-btn>
            <v-btn icon @click="destroy(index)">
              <v-icon color="error">mdi-delete</v-icon>
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </div>
  </v-container>
</template>

<script>
const API_URL = "tags"

export default {
  name: "TagIndex",

  data() {
    return {
      items: [],
    }
  },

  created() {
    this.load()
  },

  methods: {
    load() {
      this.$http.get(API_URL).then(res => (this.items = res.data.data))
    },
    update(index) {
      const item = this.items[index]
      this.$http.put(`${API_URL}/${item.id}`, item).then(res => {
        this.items.splice(index, 1, res.data.data)
      })
    },
    destroy(index) {
      const item = this.items[index]
      this.$http.delete(`${API_URL}/${item.id}`).then(() => {
        this.items.splice(index, 1)
      })
    },
  },
}
</script>
